.backgroundImage {
    background-color: rgb(var(--fooman-global-color-light-gray));
    background-image: unset;
    background-size: cover;
    background-position: center center;
    text-align: left;
    padding: 5rem 0 6.25rem;
    margin-bottom: -1rem;
}
.backgroundImageInner {
    width: 100%;
    padding: 0 1.2rem;
    max-width: var(--venia-global-maxWidth);
    margin: auto;
}
p {
    margin: 0.6rem 0.6rem 1.9rem 0.6rem;
}

.developerName {
    font-size: var(--venia-global-fontSize-300);
    line-height: 130%;
    color: rgb(var(--venia-global-color-gray-dark));
}

.questionSection {
    font-size: var(--venia-global-fontSize-1800);
    letter-spacing: 0.1rem;
    line-height: 1.3em;
    color: rgb(var(--venia-global-color-gray-dark));
}

.description {
    font-size: var(--venia-global-fontSize-900);
    line-height: 1.1em;
    color: rgb(var(--venia-global-color-gray-dark));
    max-width: 35.6rem;
    width: 100%;
}

.allButton {
    flex-direction: row;
    display: flex;
}

@media only screen and (min-width: 769px) {
    .backgroundImage {
        background-image: url("anyQuestion_bg_v2.jpg");
        background-size: inherit;
    }
}

@media (max-width: 480px) {
    .allButton {
        flex-direction: column;
    }
}
