.merchantRoot {
    background-color: white;
    text-align: center;
    width:100%;
}

.h2 {
    font-size: var(--venia-global-fontSize-1900);
    margin-bottom: 2.5rem;
    line-height: 1.1em;
    display: inline-block;
    max-width: 43.75rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(var(--fooman-global-color-font-gray));
    font-weight: 300;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 75rem;
    margin: 0 auto;

}

.imgDiv {
    width: 18.75rem;
    height: auto;
    padding: 1.25rem;
    display: flex;
    align-items: center;
}

.imgDiv .image-container-t_c {
    width: 100%;
}

.imgDiv img {
    max-width: 100%;
    height: auto;
}

.imgWidth{
    filter: grayscale(100%);
}

.imgWidth:hover{
    filter: grayscale(0);
}
