.root {
    background-color: rgb(var(--venia-global-color-background));
    color: rgb(var(--venia-global-color-text));
    position: relative;
    z-index: 1;
}

.root_masked {
    composes: root;
}

.page {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    min-height: 52vh;
}

.page_masked {
    composes: page;
}
