.popular-post-wrapper .heading {
    font-family: 'robotomedium', sans-serif;
}
.blog-header {
    max-width: inherit;
}
.category-header .back, .category-header p {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.pagination {
    font-size: 24px;
    color: #000;
}
.content article .post-meta .tag a {
    color: #FF6829;
}
.popular-post.content article .post-meta a {
    color: #b3b3b1;
}

.post-reading {
    position: relative;
}


.content {
    max-width: 780px;
}
body {
    line-height: 100%;
}

#nav li {
    list-style: outside none none;
}

.post .noarticleimage .post-meta {
    padding-top: 40px;
}

blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
}

blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

blockquote.twitter-tweet a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
    text-decoration: underline;
}

/*********************************
            CATEGORIES
*********************************/
.categories .grid {
    /*
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; */
    margin-bottom: 100px;
}
.categories .col-1-3 {
    /*
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;*/
}
.categories .heading {
    width: 70%;
    float: left;
}
.categories .plus-wrapper {
    width: 30%;
    float: right;
    display: block;
    position: relative;
}
.categories .heading h3 {
    margin-bottom: 20px;
    line-height: 22px;
}
.categories .header-wrapper {
    float: left;
    width: 100%;
    flex-grow: 1;
}
.categories .heading h3 a {
    color: #333332;
    text-decoration: none;
}
.categories .heading p {
    line-height: 22px;
    min-height: 66px;
}
.plus {
    background-image: url('../images/plus-circle.png');
    height: 50px;
    width: 50px;
    display: block;
    background-position: center center;
    background-size: contain;
    position: absolute;
    right: 20px;
    top: 15px;
}

/*********************************
            CATEGORY
*********************************/
.category-header {
    max-width: 1000px;
}
.category-header .back {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 30px 0;
}
.category-header .back:hover {
    text-decoration: underline;
}
.category-header p {
    margin-bottom: 45px;
}
.post-wrapper .border {
    position: absolute;
    top: 0;
    width: 28%;
    height: 15px;
    background-color: #FF6829;
    margin-bottom: 50px;
}
.post-wrapper .featured {
    padding-top: 30px;
}

/*********************************
            POPULAR POST
*********************************/
.popular-post-wrapper, .post-wrapper {
    position: relative;
}
.popular-post-wrapper .border {
    position: absolute;
    top: 68px;
    width: 28%;
    height: 15px;
    background-color: #FF6829;
}
.popular-post-wrapper .heading {
    font-size: 30px;
    font-weight: 500;
    font-family: "myriad-pro-condensed",sans-serif;
}
@media screen and (max-width: 750px) {
    .popular-post-wrapper .border,
    .post-wrapper .border {
        width: 200px;
    }
}
@media screen and (max-width: 1270px) {
    .popular-post-wrapper .border,
    .post-wrapper .border {
        width: 300px;
    }
}
@media screen and (min-width: 1600px) {
    .popular-post-wrapper .border,
    .post-wrapper .border {
        width: 32%;
    }
}

/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://dallasbass.com
*/


[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding-right: 20px; /* column-space */
}

[class*='col-'] [class*='col-']:last-child {
    padding-right: 0;
}

.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
    margin: 0 auto;
    overflow: hidden;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.grid-pad {
    padding-top: 20px;
    padding-left: 20px; /* grid-space to left */
    padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
    float: right;
}

/* Content Columns */

.col-1-1 {
    width: 100%;
}
.col-2-3, .col-8-12 {
    width: 66.66%;
}

.col-1-2, .col-6-12 {
    width: 50%;
}

.col-1-3, .col-4-12 {
    width: 33.33%;
}

.col-1-4, .col-3-12 {
    width: 25%;
}

.col-1-5 {
    width: 20%;
}

.col-1-6, .col-2-12 {
    width: 16.667%;
}

.col-1-7 {
    width: 14.28%;
}

.col-1-8 {
    width: 12.5%;
}

.col-1-9 {
    width: 11.1%;
}

.col-1-10 {
    width: 10%;
}

.col-1-11 {
    width: 9.09%;
}

.col-1-12 {
    width: 8.33%
}

/* Layout Columns */

.col-11-12 {
    width: 91.66%
}

.col-10-12 {
    width: 83.333%;
}

.col-9-12 {
    width: 75%;
}

.col-5-12 {
    width: 41.66%;
}

.col-7-12 {
    width: 58.33%
}

/* Pushing blocks */

.push-2-3, .push-8-12 {
    margin-left: 66.66%;
}

.push-1-2, .push-6-12 {
    margin-left: 50%;
}

.push-1-3, .push-4-12 {
    margin-left: 33.33%;
}

.push-1-4, .push-3-12 {
    margin-left: 25%;
}

.push-1-5 {
    margin-left: 20%;
}

.push-1-6, .push-2-12 {
    margin-left: 16.667%;
}

.push-1-7 {
    margin-left: 14.28%;
}

.push-1-8 {
    margin-left: 12.5%;
}

.push-1-9 {
    margin-left: 11.1%;
}

.push-1-10 {
    margin-left: 10%;
}

.push-1-11 {
    margin-left: 9.09%;
}

.push-1-12 {
    margin-left: 8.33%
}

@media handheld, only screen and (max-width: 767px) {
    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px; /* grid-space to left */
        padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
    }

    [class*='col-'] {
        width: auto;
        float: none;
        margin: 10px 0;
        padding-left: 0;
        padding-right: 10px; /* column-space */
    }

    [class*='col-'] [class*='col-'] {
        padding-right: 0;
    }

    /* Mobile Layout */

    [class*='mobile-col-'] {
        float: left;
        margin: 0 0 10px;
        padding-left: 0;
        padding-right: 10px; /* column-space */
        padding-bottom: 0;
    }

    .mobile-col-1-1 {
        width: 100%;
    }
    .mobile-col-2-3, .mobile-col-8-12 {
        width: 66.66%;
    }

    .mobile-col-1-2, .mobile-col-6-12 {
        width: 50%;
    }

    .mobile-col-1-3, .mobile-col-4-12 {
        width: 33.33%;
    }

    .mobile-col-1-4, .mobile-col-3-12 {
        width: 25%;
    }

    .mobile-col-1-5 {
        width: 20%;
    }

    .mobile-col-1-6, .mobile-col-2-12 {
        width: 16.667%;
    }

    .mobile-col-1-7 {
        width: 14.28%;
    }

    .mobile-col-1-8 {
        width: 12.5%;
    }

    .mobile-col-1-9 {
        width: 11.1%;
    }

    .mobile-col-1-10 {
        width: 10%;
    }

    .mobile-col-1-11 {
        width: 9.09%;
    }

    .mobile-col-1-12 {
        width: 8.33%
    }

    /* Layout Columns */

    .mobile-col-11-12 {
        width: 91.66%
    }

    .mobile-col-10-12 {
        width: 83.333%;
    }

    .mobile-col-9-12 {
        width: 75%;
    }

    .mobile-col-5-12 {
        width: 41.66%;
    }

    .mobile-col-7-12 {
        width: 58.33%
    }

    .hide-on-mobile {
        display: none !important;
        width: 0;
        height: 0;
    }
}

