.root {
    background: url('./images/readybg.png') #c2cbd0 bottom center no-repeat;
    padding: 120px 0;
    font-family: "robotothin";
    text-align: center;
    font-family: "robotothin";
    text-align: center;
}

.h2 {
    font-size: 56px;
    margin-bottom: 40px;
    line-height: 1.1em;
    display: inline-block;
    max-width: 770px;
    font-family: "robotothin";
    font-weight: 300;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.unit {
    padding-left: 20px;
    padding-right: 10px;
}
