.teamRoot {
    background-image: url("image.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 455px;
    background-position: center;
}

