.root {
    background-color: #0b3c5d;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 455px;
    background-position: center;
}

.heading {

}

.line {

}

.singleCol {

}

.mediaMember {

}

.frameWrapper {

}

.roundFrame {

}

.memberName {

}

.memberRole {

}

