.trustedRoot {
    background-image: url("d58d8601-c58f-464b-a7ea-7ffe9fdddf13_large.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 429px;
    padding-top: 35.31%;
}
