.root {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 35.31%;
}

.heading {

}

.line {

}

.singleCol {

}

.media {

}

.memberImg {

}

.text {

}
