.root {
    display: flex;
    flex-direction: row;
}

.section {
    margin-top: 1.5rem;
    position: relative;
}

.hr1 {
    width: 50%;
    margin-left: 29.3rem;
    border: 1px solid #eaeaea;
}

.sectionTitle {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    justify-content: center;
    margin-bottom: 1.5rem;
    text-align: center;
}

.title {
    align-items: center;
    display: grid;
    grid-area: title;
    grid-gap: 1rem;
    grid-template-columns: 1fr max-content;
    line-height: 1.5;
    padding: 1rem 1.5rem;
}

.productName {
    font-size: 1rem;
    font-weight: 600;
}

.productPrice {
    display: block;
    margin-top: 1.5rem;
    position: relative;
    font-size:var(--venia-global-fontSize-700);
}

.imageCarousel {
    grid-area: images;
    grid-column: 1 / 2;
    grid-row: 1 / fold;
    margin: 0 auto;
    max-width: 31.2rem;
    width: 25rem;
}

.options {
    grid-area: options;
}

.formErrors {
    composes: section;
    grid-area: errors;
    color: rgb(var(--venia-global-color-error));
}

.quantity {
    composes: section;
    grid-area: quantity;
    display: none;
}

.quantityTitle {
    composes: title from '~@magento/venia-ui/lib/components/ProductOptions/option.css';
}

.cartActions {
    composes: section;
    align-items: center;
    display: flex;
    grid-area: cart;
    justify-content: center;
    font-size: var(--venia-global-fontSize-200);
}

.description {
    composes: section;
    grid-column: 1 / span 1;
    grid-row: fold / span 1;
}

.descriptionTitle {
    composes: sectionTitle;
    justify-content: flex-start;
}

.details {
    composes: section;
    grid-column: 2 / span 1;
    grid-row: fold / span 1;
}

.detailsTitle {
    composes: sectionTitle;
}

.related {
    composes: section;
    border-bottom-width: 0;
    grid-column: 1 / span 2;
}

.relatedTitle {
    composes: sectionTitle;
}

.reviewDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3.1rem 0 1.2rem;
}

.reviewCounts {
    margin-left: 0.6rem;
    font-weight: var(--venia-global-fontWeight-normal);
    margin-top: 0.3rem;
    font-size: var(--venia-global-fontSize-400);
}

.childButton {
    display: inline-block;
    margin-top: 1.2rem;
    font-size: var(--venia-global-fontSize-75);
    margin-right: 0.6rem;
}

.contentDes {
    width: 100%;
    margin-top: 1.5rem;
}

.productTitle {
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.reviewDesc {
    padding: 2.5rem 2.2rem !important;
    width: 27.5rem;
    composes: section;
    grid-column: 1 / span 1;
    grid-row: fold / span 1;
}

.formMainDiv {
    display: flex;
    flex-direction: row;
}

@media (min-width: 1024px) {
    .root {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        grid-auto-flow: row;
        grid-template-areas:
            'images title'
            'images errors'
            'images options'
            'images quantity'
            'images cart'
            'images .';
        grid-template-columns: 1.5625fr 1fr;
        grid-template-rows: repeat(5, min-content) 1fr [fold];
        padding: 2.5rem 4rem;
    }
    .reviewDesc {
        align-self: stretch;
        margin: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .formMainDiv {
        width: 100%;
    }
    .title {
        padding: 1.5rem;
    }
    .cartActions {
        border-bottom-width: 0;
    }
    .imageCarousel {
        margin: 0;
        max-width: 31.2rem;
        padding: 1.5rem 0;
        width: fit-content;
    }
    .productName {
        font-size: 1.3125rem;
        font-weight: 400;
    }
    .details {
        align-self: stretch;
        border-top-width: 1px;
        margin: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .description {
        align-self: stretch;
        margin: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

}

@media (max-width: 1024px) {
    .reviewDesc {
        align-self: stretch;
        margin: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .section {
        margin: 1rem     0;
        padding: 1.2rem !important;
        position: relative;
    }
    .root {
        margin: 1.9rem 0;
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 1124px) {
    .root {
        display: flex;
        flex-direction: column;
        grid-auto-flow: column;
    }
    .cartActions {
        composes: section;
        align-items: center;
        display: flex;
        grid-area: cart;
        justify-content: center;
        font-size: var(--venia-global-fontSize-300);
    }

}

@media only screen and (max-width: 1023px) {

    .formMainDiv {
        flex-direction: column;
        width: 100%;
    }
    .reviewDesc {
        width: 100%;
    }

    .imageCarousel {
        max-width: unset;
        width: 100%;
    }

}

@media only screen and (max-width: 600px) {
    .childButton {
        font-size: var(--venia-global-fontSize-100);
    }
}

@media only screen and (max-width: 425px) {
    .childButton {
        font-size: var(--venia-global-fontSize-50);
    }
}

@media only screen and (max-width: 320px) {
    .childButton {
        font-size: var(--venia-global-fontSize-25);
    }
}
