.setSectionMain {
    padding: 2.5rem 4rem;
}
.setSection{
    display: flex;
    flex-direction: row;

}
.left, .right {
    padding: 15px;
    max-width: 525px;
    width: 100%;
}

.leftInner {
    display: flex;
    flex-direction: row;
}
.leftImage {
    max-width: 144px;
    width: 100%;
    justify-content: flex-start;
    display: flex;
}
.leftText {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.leftHeaderText {
    font-family: "myriad-pro-condensed",sans-serif;
    line-height: 100%;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    padding: 10px 10px 0px 0px;
    font-size: 24px;
    font-weight: 600;
    color: #585858;
}
.leftHeaderText2 {
    margin: 10px 10px 10px 0;
    font-size: 16px;
    color: #585858;
}

.iconStyle {
    line-height: normal;
    color: #37646F;
    margin: 10px 10px 10px 0;
    font-size: 60px !important;
}

.iconDiv {
    width: 76px;
    height: 76px;
    display: block;
}


@media only screen and (max-width: 767px) {
    .setSection{
        flex-direction: column;
    }
}
@media only screen and (max-width: 599px) {
    .setSectionMain {
        padding: 2.5rem 10px;
    }
    .left, .right {
        padding: 15px 0px;
    }
}
