.root {
    background-color: rgb(var(--venia-global-color-gray-darker));
    border-top: 1px solid rgb(var(--venia-global-color-border));
    color: black;
    margin-top: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 15em);
    grid-template-rows: auto;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
    .root {
        grid-template-columns: repeat(2, 20em);
    }
}

@media (max-width: 640px) {
    .root {
        grid-template-columns: 1fr;
    }
}

.tile {
    padding: 1rem 1rem;
    color: rgb(var(--fooman-text-on-dark));
}

.tileTitle:after {
    content:"";
    display: block;
    width: 3.1rem;
    border-bottom: 1px solid rgb(var(--fooman-global-color-darked-orange));
    margin: 1.5em 0 1.5em;
}

.tileTitle {
    margin: 1rem 0;
    text-transform: uppercase;
    font-family: var(--venia-global-fontFamily-sansSerif);
}

.tileBody {
    margin: 1rem 0;
}

.tile li {
    margin-bottom: 0.9rem;
}

.copyright {
    display: block;
    color: rgb(var(--venia-global-color-text-alt));
    font-size: var(--venia-global-fontSize-75);
    padding: 1.5rem 2rem;
    text-align: center;
}

.mlTen {
    margin-left: 0.9rem;
}
