.root {
    margin: 1rem 1rem 2rem;
    line-height: var(--venia-global-lineHeight-400);

}
.reviewSummary {
    font-weight: var(--venia-global-fontWeight-bold);
}

.reviewText {

}

.reviewBy {
    font-style: italic;
}

.reviewByFooman {
    font-style: italic;
    padding-left: 2rem;
}

.starRating{
    margin-bottom: 0;
    line-height: var(--venia-global-lineHeight-100);
}
