.root {
    display: grid;
    grid-template-areas:
        'actions'
        'items';
    grid-template-columns: 1fr;
    line-height: 1;
    margin: 0 10%

}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 640px) {
    .items {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .root{
        margin: 0;
    }
}
