.descriptionImage{
    visibility: visible;
    position: relative;
}

.imageContainer{
    width: 18.75rem;
    height: auto;
    display: block;
}

.imagePlaceHolder {
    width: unset !important;
}
