.currencyName {
    text-transform: uppercase;
}

.linkTitle {
    text-align: end;
    color: rgb(var(--venia-global-color-gray-800));
}
.linkTitle .active{
    border-bottom: 1px solid;
}

/*.selectCurrency {*/
/*    padding: 3px;*/
/*    margin-left: 5px;*/
/*    text-transform: uppercase;*/
/*    font-size: var(--venia-global-fontSize-300);!* 18px *!*/
/*}*/

.magentoLinks {
    margin-left: 0.6rem;
    font-size: var(--venia-global-fontSize-300);/* 18px */
}
