.root {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
}
.heading {
    font-size: 250%;
    color: rgb(var(--fooman-global-color-font-gray));
    font-weight: var( --venia-global-fontWeight-thin);
    font-family: var(--venia-global-fontFamily-sansSerif);
    margin-bottom: 3.875rem;
    margin-top: 2.5rem;
}

