.root {
    background-color: white;
    display: grid;
    gap: 0.5rem;
    grid-auto-columns: minmax(2rem, auto);
    grid-auto-flow: column;
    justify-content: center;
    padding: 1.5rem 0 1rem;
    text-align: center;
}
