.trustedComponent {
    padding: 100px 0;
    width: 100%;
    position: relative;
    background-color: #474747;
}
.commonComponent {
    padding: 60px 0;
    width: 100%;
    position: relative;
}

.expertsComponent {
    padding: 100px 0;
    width: 100%;
    position: relative;
}

.teamComponent {
    padding: 100px 0;
    width: 100%;
    position: relative;
    background: #0b3c5d;
}
