.tableClass {
    border-collapse: collapse;
}

.thClass {
    height: 2.813rem;
    text-align: left;
}

.tdClass ,.thClass {
    padding: 0.938rem 0;
    border-bottom: 1px solid rgb(var(--venia-global-color-border));
}
