.HeroImg {
    background-image: url("Images/mainbanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 35.31%;
}

.Heading {
    color: rgb(var(--venia-global-color-gray-50));
    margin: 0.6rem;
}
.separateHeading {
    font-size: var(--venia-global-fontSize-1700);
    line-height: 3.4375rem;
}

.MagentoImages {
    display: flex;
    left: 49%;
    top: 13%;
}
.commonImg {
    display: inline-block;
    width: 31%;
    max-width: 9.6rem;
}
.commonImg img{
    width:100%;
    height: 100%;
}

.textContent {
    position: absolute;
    left: 50%;
    top: 10%;
    color: white;
    line-height: 1.1em;
    width: 33%;
    height: auto;
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .extensionButton {
        width: max-content;
        font-size: var(--venia-global-fontSize-100);
        position: absolute;
        bottom: -21%;
        left: 3%;
    }

    .separateHeading {
        line-height: 1.5rem;
        font-size: var(--venia-global-fontSize-600);
    }
    .textContent {
        position: absolute;
        left: 50%;
        top: 10%;
        color: white;
        line-height: 1.1em;
        width: 38%;
        height: auto;
    }

    .commonImg {
        display: inline-block;
        width: 30%;
        max-width: 9.0rem;
    }
    .commonImg img{
        width:89%;
        height: 89%;
    }
    .Heading {
        width: 230px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .extensionButton {
        width: max-content;
        font-size: var(--venia-global-fontSize-100);
        position: absolute;
        bottom: -20%;
        left: 3%;
    }

    .separateHeading {
        font-size: var(--venia-global-fontSize-1200);
        line-height: 2.2rem;
    }

    .commonImg img{
        width: 90%;
        height: 90%;
    }

    .Heading {
        width: 380px;
    }

}

@media screen and (min-width: 1441px) {
    .extensionButton {
        width: max-content;
        font-size: var(--venia-global-fontSize-100);
        position: absolute;
        bottom: -15%;
        left: 1%;
    }

    .separateHeading {
        font-size: var(--venia-global-fontSize-1300);
        line-height: 2.2rem;
    }

    .Heading {
        width: 430px;
    }
}

@media screen and (max-width: 768px) {
    .extensionButton {
        width: max-content;
        font-size: var(--venia-global-fontSize-75);
    }
    .separateHeading {
        line-height: 1.4rem;
        font-weight: var(--venia-global-fontWeight-thin);
        font-size: var(--venia-global-fontSize-500);
    }
    .textContent {
        position: absolute;
        left: 50%;
        top: 10%;
        color: white;
        line-height: 0.9rem;
        width: 40%;
        height: auto;
    }
}
