.root {
    margin: 0.6rem 0.6rem 0rem 0rem;
    padding: 0.9rem 0.6rem;
    line-height: 1.1em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    border-radius: 6px;
}

.root:hover {
    --stroke: var(--venia-brand-color-1-800);
}

.root:focus {
    box-shadow: unset;
    background-color: rgb(var(--venia-global-color-gray-darker));
}

.root:active {
    transition-duration: 128ms;
    --stroke: var(--venia-brand-color-1-800);
}

/**
 * Some browsers retain the :hover state after a click, this ensures if a button becomes disabled after
 * being clicked it will be visually disabled.
 */
.root:disabled,
.root:hover:disabled {
    pointer-events: none;
    --stroke: var(--venia-global-color-gray-400);
}

.content {
    align-items: center;
    display: inline-grid;
    gap: 0.35rem;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
}

.root_lowPriority {
    composes: root;
    background-color: rgb(var(--venia-global-color-gray-dark));
    color: white;
}

.root_lowPriority:focus {
    box-shadow: unset;
    outline: unset;
}

.root_lowPriority:hover {
    --stroke: var(--venia-global-color-gray-900);
}
.root_lowPriorityNegative {
    composes: root_lowPriority;
    --stroke: var(--venia-global-color-red-700);
}
.root_lowPriorityNegative:hover {
    --stroke: var(--venia-global-color-red-800);
}

.root_normalPriority {
    composes: root;
    border: 2px solid rgb(var(--fooman-global-color-darked-orange));
    background-color: rgb(var(--venia-global-color-gray-50));
    color: rgb(var(--fooman-global-color-darked-orange));
}
.root_normalPriority:focus {
    box-shadow: unset;
}

.root_normalPriorityNegative {
    composes: root_normalPriority;
    --stroke: var(--venia-global-color-red-700);
}
.root_normalPriorityNegative:hover {
    --stroke: var(--venia-global-color-red-800);
}

.root_highPriority {
    composes: root;
    background-color: rgb(var(--fooman-global-color-darked-orange));
    color: white;
}

.root_highPriority:focus {
    box-shadow: unset;
}

.root_highPriorityNegative {
    composes: root_highPriority;
    --stroke: var(--venia-global-color-red-700);
}
.root_highPriorityNegative:hover {
    --stroke: var(--venia-global-color-red-800);
}
